@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.750) !important;
}
.home-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.left-half {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  padding: 20px;
  margin-left: 42px;
}
.left-half h2{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 24px;

}
.left-half p{
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 24px;
}
.right-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1;
  
}
.left-half .btn {
  width: 148px;
  text-decoration: none;
}
.img {
  text-align: center;
}

.img img {
  width: 700px;
  height: auto;
}