.main-container{
    display: flex;
    margin: auto;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 640px;
    width: 800px;
    border-radius: 8px;
}

#upload-label {
    margin: 24px 0;
    text-align: center;
}
#img-view {
    width: 680px;
    height: 200px;
    border: 2px dashed black;
    border-radius: 10px;
    background: rgb(176, 197, 230);
    background-position: center;
    background-size: cover;
}

#img-view img {
    width: 100px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.upload-p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}
.upload-span {
    border-bottom: black solid 1px;
    font-weight: bold;
}

.btn {
    margin-bottom: 12px;
}

.history {
    background: #fff;
    width: 240px;
    height: 640px;
    margin: 0 20px;
    border-radius: 8px;
}

.form-select {
    height: 640px;
}
.data-option {
    padding: 8px 0;
}