.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22333b;
}

.login-form-container {
  display: flex;
  border-radius: 8px;
  background: white;
  height: 460px;
  width: 820px;
}
.login-container {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 38px;
}
.login-container h2 {
  width: 320px;
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 38px;
}
.login-container form{
  display: flex;
  flex-direction: column;
}

.login-container form img {
  width: 38px;
  height: auto;
}

.login-container .form-check {
  margin: 16px 0;
}
.login-container h4 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 16px;
}
.login-container a {
  color: blue;
  text-decoration: none;
}
.login-img {
  background: #608f8f;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.login-img h2 {
  font-weight: bold;
  font-size: 28px;
  
}

.login-img img {
  width: 430px;
  height: 430px;
}

@media only screen and (max-width: 500px) {
  .login-form-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 320px;
    height:660px;
  }
  .login-form-container .login-container {
    width: 200px;
    height: 560px;
    margin-top: 24px;
  }
  .login-form-container .login-container h2{
    font-size: 24px;
    width: 200px;
    margin-bottom: 16px;
  }
  .login-form-container .login-container form {
    height: 200px;
    gap: 16px;
  }
  .login-form-container .login-container .form-floating{
    width: 200px;
    height: 36px;
    margin-bottom: 8px;
  }
  .login-form-container .login-container .form-check {
    margin: 0;
  }
  .login-form-container .login-img {
    width: unset;
    height: unset;
  }
  .login-form-container .login-img-cont img {
    width: 320px;
    height: 320px;
  }

}

@media only screen and (min-width: 501px) and (max-width: 800px){
  .login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
  }
  .login-form-container .login-img-cont img {
    width: 320px;
    height: 320px;
  }
  .login-form-container .login-container h2{
    font-size: 24px;
    width: 200px;
    margin-bottom: 16px;
  }
  .login-form-container .login-container form {
    height: 200px;
    gap: 16px;
  }
  .login-form-container .login-container .form-floating{
    width: 200px;
    height: 36px;
    margin-bottom: 8px;
  }
  .login-form-container .login-container .form-check {
    margin: 0;
  }
  .login-form-container .login-img {
   display: flex;
    align-items: center;
    justify-content: center;
  }
}