.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22333b;
}

.login-form-container {
  display: flex;
  border-radius: 8px;
  background: white;
  height: 460px;
  width: 820px;
}
.login-container {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 38px;
}
.login-container h2 {
  width: 320px;
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 38px;
}
.login-container form{
  display: flex;
  flex-direction: column;
}

.login-container form img {
  width: 38px;
  height: auto;
}

.login-container .form-check {
  margin: 16px 0;
}
.login-container h4 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 16px;
}
.login-container a {
  color: blue;
  text-decoration: none;
}
.login-img {
  background: #608f8f;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.login-img h2 {
  font-weight: bold;
  font-size: 28px;
  
}

.login-img img {
  width: 430px;
  height: 430px;
}