.register-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22333b;
  }
  
  .register-form-container {
    display: flex;
    border-radius: 8px;
    background: white;
    height: 520px;
    width: 820px;
  }

  .register-container {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin: 38px;
  }

  .register-container h2 {
    width: 320px;
    font-weight: bold;
    font-size: 28px;
  }

  .register-container form{
    display: flex;
    flex-direction: column;
  }

  .register-img {
    background: #1d4a4aa9;
    width: 100%;
    height: 100%;
  }

  .register-img h2 {
    font-weight: bold;
    font-size: 28px;
    
  }
  
  .register-img img {
    width: 430px;
    height: 430px;
  }
  .register-container .have-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
  .register-container .have-acc h4{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;

  }
  .register-container .have-acc a {
    font-size: 12px;
    color: blue;
    text-decoration: none;
    margin-left: 4px;
  }

@media only screen and (max-width: 500px) {
  .register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 760px;
  }
  .register-form-container .register-container {
    width: 200px;
    height: 560px;
    margin-top: 24px;
  }
  .register-form-container .register-container h2{
    font-size: 24px;
    width: 200px;
    margin-bottom: 16px;
  }
  .register-form-container .register-container form {
    gap: 16px;
  }
  .register-form-container .register-container .form-floating{
    width: 200px;
    height: 36px;
    margin-bottom: 8px;
  }
  .register-form-container .register-container .form-check {
    margin: 0;
  }
  .register-form-container .register-img {
    width: unset;
    height: unset;
  }
  .register-form-container .register-img-cont img {
    width: 320px;
    height: 280px;
  }

}

@media only screen and (min-width: 501px) and (max-width: 800px){
  .register-form-container {
    width: 600px;
    height: 480px;
  }
  .register-form-container .register-container {
    width: 200px;
    height: 560px;
    margin-top: 24px;
  }
  .register-form-container .register-container h2{
    font-size: 24px;
    width: 200px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .register-form-container .register-container form {
    gap: 16px;
  }
  .register-form-container .register-container .form-floating{
    width: 200px;
    height: 36px;
    margin-bottom: 8px;
  }
  .register-form-container .register-container .form-check {
    margin: 0;
  }
  .register-form-container .register-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-form-container .register-img-cont img {
    width: 320px;
    height: 280px;
  }

}