<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataVisualizer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/register.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/inside.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/nav.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/scripts/upload.js" defer></script>
    <script type="text/javascript" src="../static/scripts/menu.js" defer></script>
    <script type="text/javascript" src="../static/scripts/googleApi.js" defer></script>
    <script type="text/javascript" src="../static/scripts/githubApi.js" defer></script>
    <script type="text/javascript" src="../static/scripts/chartApi.js" defer></script>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="logo">
          <a href="{{ url_for('home') }}"
            ><img src="../static/resources/logo.png"
          /></a>
        </div>
        <ul class="links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="#">Discover</a></li>
          <li><a href="#">Offers</a></li>
          <li><a href="#">Portfolio</a></li>
        </ul>
        <div class="buttons">
          {% if current_user.is_anonymous %}
          <div id="login">
            <span
              ><a href="{{ url_for('login') }}" class="signin">Sign In</a></span
            >
            <span
              ><a href="{{ url_for('register') }}" class="signup"
                >Sign Up</a
              ></span
            >
          </div>
          {% else %}
          <img
            src="../static/resources/profileIcon.png"
            class="profile"
            onclick="toggleMenu()"
          />
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="../static/resources/profileIcon.png" />
                <h2>{{ current_user.username }}</h2>
              </div>

              <a href="#" class="sub-menu-link">
                <img src="../static/resources/profileEditIcon.png" />
                <p>Edit profile</p>
              </a>
              <a href="#" class="sub-menu-link">
                <img src="../static/resources/settingsIcon.png" />
                <p>Settings & Privacy</p>
              </a>
              <a href="{{ url_for('logout')}}" class="sub-menu-link">
                <img src="../static/resources/logoutIcon.png" />
                <p>Logout</p>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
