<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataVizHub</title>
    <link rel="icon" href="{{ url_for('static', filename='resources/logo.png') }}" type="image/x-icon">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/home.css') }}?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/register.css') }}?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/login.css') }}?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/inside.css') }}?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/nav.css') }}?{{ cache_id }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/footer.css') }}?{{ cache_id }}"
  />
      <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/profile.css') }}?{{ cache_id }}"
  />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/scripts/menu.js?{{ cache_id }}" defer></script>
    <script type="text/javascript" src="../static/scripts/profile.js?{{ cache_id }}" defer></script>
  </head>
  <body>
    <header id="header" userId="{{ current_user.id }}">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          {% if current_user.is_anonymous %}
          <a class="navbar-brand" href="{{ url_for("home")}}">
            <img src="../static/resources/logo.png" alt="" width="48" height="auto" class="d-inline-block align-text-center">
            DataVizHub
          </a>
          {% else %}
          <a class="navbar-brand" href="{{ url_for("inside")}}">
            <img src="../static/resources/logo.png" alt="" width="48" height="auto" class="d-inline-block align-text-center">
            DataVizHub
          </a>
          {% endif %}
          {% if current_user.is_anonymous %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{{ url_for("home") }}">Home</a>
            <a class="nav-link" href="#first-about-container">About</a>
            <a class="nav-link" href="#features-container">Features</a>
          </div>
          <div class="btn btn-light">
            <a href="{{ url_for("login") }}">Sign in</a>
          </div>
          </div>
          {% else %}
          <div class="menu-profile">
            <img id="menu-img"
              src="../static/resources/profileIcon.png"
              class="profile"
              onclick="toggleMenu()"
            />
          </div>
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="../static/resources/profileIcon.png" id="sub-menu-img" />
                <h2>{{ current_user.username }}</h2>
              </div>
              <a  href="{{ url_for('edit') }}" class="sub-menu-link">
                <img src="../static/resources/profileEditIcon.png" />
                <p>Edit profile</p>
              </a>
              <a href="#" class="sub-menu-link">
                <img src="../static/resources/settingsIcon.png" />
                <p>Settings & Privacy</p>
              </a>
              <a href="{{ url_for('logout')}}" class="sub-menu-link">
                <img src="../static/resources/logoutIcon.png" />
                <p>Logout</p>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
  </body>
  <footer>
    <div class="socials">
      <a href="https://github.com/badrbnh" target="_blank">
        <img src="../static/resources/githubIcone.png" alt=""/>
      </a>
      <a href="https://twitter.com/badrbnh001" target="_blank">
        <img src="../static/resources/xIcone.png" alt="" />
      </a>
      <a href="https://www.linkedin.com/in/badreddine-bentiah-576802265/" target="_blank">
        <img src="../static/resources/linkedinIcon.png" alt="" />
      </a>
    </div>
    <div class="copyright">
      <a href="https://github.com/badrbnh/Data_Visualizer">© 2023 DataVizHub</a>
  </footer>
</html>
