{% extends "base.html" %} {% block content %}
<div class="home-container">
  <div class="left-half">
    <h1>Easy converting---from data to charts</h1>
    <p>
      Transform your data effortlessly! Create stunning visualizations, monitor
      real-time updates, and collaborate seamlessly. Personalize your experience
      and dive into advanced analysis tools. Sign up now for a visual
      exploration like never before!
    </p>
    <div type="button" class="btn btn-light btn-lg">
      <a href="{{ url_for("login") }}" class="star">Get started</a>
    </div>
  </div>
  <div class="right-half">
    <div class="img">
      <img src="../static/resources/home.png" class="img-fluid" />
    </div>
  </div>
</div>

<div id="first-about-container">
  <div class="first-about-left">
      <h1>What is DataVizHub?</h1>
      <p>
        DataVizHub empowers users with interactive charts, dashboards, and reports, fostering collaborative insights in teams through robust data visualization      </p>
  </div>
  <div class="first-about-right">
    <div class="first-content-img">
      <img src="../static/resources/lp1.svg" class="img-fluid" />
    </div>
  </div>
</div>
<div class="second-about-container">
  <div class="second-about-right">
      <h1>Why DataVizHub?</h1>
      <p>
        At DataVizHub, we're dedicated to making the transformative power of data accessible and impactful through intuitive visualization tools
      </p>
  </div>
  <div class="second-about-left">
    <div class="second-content-img">
      <img src="../static/resources/lp2.svg" class="img-fluid" />
    </div>
  </div>
</div>
<div id="features-container">
  <h1>Features</h1>
  <div class="features">
    <div class="card">
      <img src="../static/resources/loginFeature.svg">
      <div class="card-body">
        <h5 class="card-title">Personal account</h5>
        <p class="card-text">Create a personal account that save user's information and files.</p>
      </div>
    </div>
    <div class="card">
      <img src="../static/resources/uploadFeature.svg">
      <div class="card-body">
        <h5 class="card-title">Upload files</h5>
        <p class="card-text">Ability to upload data files (Excel, Spreadsheet...) and saved in the server.</p>
      </div>  
    </div>
    <div class="card">
      <img src="../static/resources/chartFeature.svg">
      <div class="card-body">
        <h5 class="card-title">Convert data</h5>
        <p class="card-text">Ability to convert the data file to visual charts.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
