{% extends "base.html" %} {% block content %}
<div class="home-container">
  <div class="left-half">
    <h1>Easy converting---from data to charts</h1>
    <p>
      Transform your data effortlessly! Create stunning visualizations, monitor
      real-time updates, and collaborate seamlessly. Personalize your experience
      and dive into advanced analysis tools. Sign up now for a visual
      exploration like never before!
    </p>
    <div type="button" class="btn btn-light btn-lg">
      <a href="{{ url_for("login") }}" class="star">Get started</a>
    </div>
  </div>
  <div class="right-half">
    <div class="img">
      <img src="../static/resources/home.png" class="img-fluid" />
    </div>
  </div>
</div>

<div id="first-about-container">
  <div class="first-about-left">
    <div class="first-content">
      <h1>What is DataVizHub?</h1>
      <p>
        DataVizHub is a data visualization tool that allows you to create
        interactive charts, dashboards, and reports. It is a powerful tool that
        helps you to visualize your data and share insights with your team.
      </p>
    </div>
  </div>
  <div class="first-about-right">
    <div class="first-content-img">
      <img src="../static/resources/lp-1.jpg" class="img-fluid" />
    </div>
  </div>
</div>
<div class="second-about-container">
  <div class="second-about-right">
    <div class="second-content">
      <h1>Why DataVizHub?</h1>
      <p>
        At DataVizHub, we believe that data has the power to transform the way
        we understand the world. Our mission is to empower individuals and
        businesses to unlock the full potential of their data through the art of
        visualization. With our intuitive platform and powerful tools, we make
        data visualization accessible, engaging, and impactful.
      </p>
    </div>
  </div>
  <div class="second-about-left">
    <div class="second-content-img">
      <img src="../static/resources/lp-3.jpg" class="img-fluid" />
    </div>
  </div>
</div>
<div id="features-container">
  <h1>Features</h1>
  <div class="features">
    <div class="card">
      <img src="../static/resources/loginFeature.svg">
      <div class="card-body">
        <h5 class="card-title">Personal account</h5>
        <p class="card-text">Create a personal account that save user's informations and files.</p>
      </div>
    </div>
    <div class="card">
      <img src="../static/resources/uploadFeature.svg">
      <div class="card-body">
        <h5 class="card-title">Upload files</h5>
        <p class="card-text">Ability to upload data files (Excel, Spreadsheet...) and saved in the server.</p>
      </div>  
    </div>
    <div class="card">
      <img src="../static/resources/chartFeature.svg">
      <div class="card-body">
        <h5 class="card-title">Convert data</h5>
        <p class="card-text">Ability to convert the data file to visual charts.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
