{% extends "base.html" %} {% block content %}
<div class="hero-container">
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="input-file" id="upload-label">
                <input type="file" name="file" id="input-file" accept=".csv, .xls, .xlsx" hidden>
                <div id="img-view">
                    <img src="../static/resources/uploadIcon.png">
                    <p class="upload-p">Drag and drop or click here to upload</p>
                </div>
                <input type="submit">
            </label>
        </form>
    </div>
    <div>
        <label for="cars">Choose a car:</label>
        <select id="cars" name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <div id="chart_div"></div>
</div>
{% endblock %}
