{% extends "base.html" %}
{% block content %}
<div class="profile-cont">
    <div class="edit-cont">
        <div class="edit-img">
            <h1>{{ current_user.username }}</h1>
            <div class="profile-img">
                <img id="profileImage" src="../static/resources/editProfile.svg" alt="profile image">
            </div>
            <div class="btn-cont">
                <div class="edit-img-btn">
                    <input type="file" id="uploaded-img" accept=".jpeg, .png, .jpg" hidden/>
                    <label for="uploaded-img" class="btn btn-primary">Edit image</label>
                </div>
                <div class="edit-img-btn">
                    <button type=button id="delete-img" class="btn btn-danger">Delete image</button>
                </div>
            </div>
            <div class="img-label">
                <h3>Change Profile Picture</h3>
                <p>Be yourself and join us</p>
            </div>
        </div>
        <div class="edit-info">
            <div>
                <h1>Account Information</h1>
            </div>
            <form action="" method="post" novalidate>
                <div id="erro-cont" style="margin-top: 12px;"/>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          {% for message in messages %}
                          <div class="alert alert-danger" role="alert">{{ message }}</div>
                          {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <div  class="form-floating mb-3" id="floating-cont" userId="{{ current_user.id }}">
                    {{ form.hidden_tag() }}
                    {{ form.username(type="Username", class="form-control", id="floatingUsername", placeholder="username") }}
                    <label for="floatingUsername" id="username">Username</label>
                </div>
                <div class="form-floating mb-3" id="validEmail">
                    {{ form.email(class="form-control", id="floatingEmailEdit", placeholder="name@example.com") }}
                    <label for="floatingEmailEdit" id="email">Email</label>
                </div>
                <div class="form-floating">
                    {{ form.password(type="password", class="form-control", id="floatingPasswordEdit", placeholder="Password") }}
                    <label for="floatingPasswordEdit" id="password">Password</label>
                </div>
                <div class="edit-confirm">
                <button type="button" class="btn btn-secondary" id="edit-btn">Edit</button>
                <div id="save-btn">{{ form.submit(class="btn btn-success") }}</div>
                <button class="btn btn-danger" id="cancel-btn" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}